.stores{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.stores__main-container{
  /* border: 1px solid red; */
  border-radius: 24px 24px 0px 0px;
  background: var(--background-default, #FFF);
  max-width: 1200px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;

}

.stores__title-logo{

}

.stores__img{
  margin-top: 50px;
}

.stores__info{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding-top: 50px;
}

.stores__additional{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stores__socials{
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.stores__rating{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 10px
}

.stars{
  width: 120px;
  height: 20px;
}

.heart{
  width: 36px;
  height: 36px;
}
